<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<!-- Mức log có thể là: Debug, Info, Error -->
		<add key="LogLevel" value="Debug"/>
		<add key="LogFile" value="app.log"/>
		<add key="DbConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=CuaHangNongDuoc;Integrated Security=True"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
